.results-table {
    @include gradient;
    width: 520px;
    margin: 36px auto 32px;
    padding: 2px;
    border-radius: 10px;

    &__table {
        font-size: 16px;
        line-height: 22px;
        background-color: $black;
        border-radius: 10px;
        border-collapse: collapse;
        color: $white;
    }

    tbody {
        tr:last-child {
            padding-bottom: 10px;
        }
    }
    
    &__row {
        display: grid;
        grid-template-columns: 120px 260px 140px;
        align-items: center;

        th {
            padding: 18px 32px 8px;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            text-align: left;
        }
        
        td {
            padding: 8px 32px;
            text-align: left;
        }

        &--active {
            font-weight: 900;
            background: linear-gradient(to right, $gradient-green 0%, $gradient-blue 40%, $gradient-red 70%);
        }
    }
}
