.result {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    
    &__title {
        margin: 0;
        margin-bottom: 12px;
        font-weight: 900;
        font-size: 42px;
        line-height: 58px;
    }
    
    &__steps {
        margin: 0;
        margin-bottom: 24px;
        font-size: 26px;
        line-height: 30px;
    }

    &__title,
    &__steps {
        background-clip: text;
        background-image: linear-gradient(to right, $gradient-green 0%, $gradient-blue 40%, $gradient-red 70%);
        -webkit-text-stroke: transparent 5px;
    }
    
    &__question {
        color: $white;
        margin: 0;
        margin-bottom: 24px;
    }
    
    &__button {
        width: 200px;
    }
}
