.rules {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    
    &__heading,
    &__description {
        margin: 0;
        margin-bottom: 12px;
        font-weight: 900;
        background-clip: text;
        background-image: linear-gradient(to right, $gradient-green 0%, $gradient-blue 40%, $gradient-red 70%);
        -webkit-text-stroke: transparent 5px;
    }

    &__heading {
        font-size: 100px;
        line-height: 110px;
    }

    &__description {
        font-size: 35px;
        line-height: 45px;
    }
    
    &__panel {
        @include gradient;
        width: 520px;
        margin: 36px auto 40px;
        padding: 2px;
        border-radius: 15px;
        box-sizing: border-box;
    }
    
    &__inner {
        border-radius: 15px;
        padding: 24px 32px 36px;
        background-color: $black;
        color: $white;
    }

    &__title {
        margin: 0;
        margin-bottom: 16px;
        font-size: 24px;
        line-height: 32px;
    }

    &__list {
        @include clear-list;
        font-size: 16px;
        line-height: 22px;
        text-align: left;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 16px;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &::before {
            content: "";
            width: 40px;
            height: 36px;
            flex: none;
            background-position: center;
            background-repeat: no-repeat;
        }

        &:nth-child(1)::before {
            background-image: url("../../public/img/icon-rules-1.svg");
        }

        &:nth-child(2)::before {
            background-image: url("../../public/img/icon-rules-2.svg");
        }

        &:nth-child(3)::before {
            background-image: url("../../public/img/icon-rules-3.svg");
        }
    }

    &__buttons-wrapper {
        width: 520px;
        margin: 36px auto 40px;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}
